h1 {
    font-size: 70px;
    text-align: center;
    margin: 10px;
}

.create-button{
    font-size: 20px;
    text-align: center;
    border: solid 3px black;
}

#project-list {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
}

.project {
    display:grid;
    grid-template-areas: "a a a"
        "b b ."
        "c c d";
    border: solid 3px black;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.project .project-title{
    grid-area: a;
    text-align: center;
}

.project .project-counter{
    grid-area: b;
    text-align: center;
}

.project .project-view{
    grid-area: c;
    text-align: center;
    background-color: green;
}

.project .project-delete{
    grid-area: d;
    text-align: center;
    background-color: pink;
}

.mini-task {
	display: flex;
	width: 60%;
	justify-content: space-between;
	margin: 5px auto 5px auto;
    border: solid 1px black;
    padding: 5px;
}

.no-priority {
    background-color: gray;
}

.low-priority {
    background-color: blue;
}

.med-priority {
    background-color: yellow;
}

.high-priority {
    background-color: red;
}

#project-info {
    display: flex;
    justify-content: space-between;
}